@charset "utf-8";
/* CSS Document */

.header,
.header ul,
.header ul li,
.btn_bottom {
    background-color:#78cc33;
}

.header .title{  
	color:#6d9339;
}

.header .title .right{
	background-image:url(../img/ic_settings_black_kid.png);
}