@charset "utf-8";
/* CSS Document */

.header,
.header ul,
.header ul li,
.btn_bottom,
.profile .bg{
    background-color:#78cc33;
}

.header .title{  
	color:#6d9339;
}

.header .title .setting{
	background-image:url(../img/ic_settings_black_kid.png);
	margin:0;
}
.header .home{
	background-image:url(../img/ic_back_k.png);
}

.header .logout{
	background-image:url(../img/logout_kid.png);
}

.header .edit{
	background-image:url(../img/edit_kid.png);
}