@import url(//fonts.googleapis.com/earlyaccess/cwtexhei.css);
@charset "utf-8";
* {
  margin: 0px;
  font-family: 'cwTeXHei', sans-serif;
  font-family: Microsoft JhengHei;
}

body {
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.login {
	background: url(../img/signup_bg.png) repeat;
	background-size:100% auto;
    height: 100%;
    width: 100%;
    margin: 0px auto;
    padding-top: 15%;
	box-sizing:border-box;
	text-align:center;
}

.login .logo {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin:0 auto;
}

.login img[name$="logo"] {
	width:150px;
	height:150px;
	
}

.login img[name$="invalid_name"] {
  width: 60%;
  height: auto;
  margin: 20px auto;
}

.login form {
  margin: 0 auto;
}

.login form.text {
  background: #DBD2BD;
  border: none;
  padding: 5px;
  width: 250px;
  height: 25px;
  margin-bottom: 10px;
}

.login .form_group input, 
.login .button, 
input[name$="login_submit"] {
  text-align: center;
  background-color: #37bde5;
  width: 80%;
  height: 8%;
  color: #FFF;
  font-size: 20px;
  border-radius: 100px;
  border: 2px #FFF solid;
  margin: 5px;
}

.login .form_group input[name$="userid"], 
.login .form_group input[name$="password"] {
  color:#333;
  text-align: left;
  padding-left: 30px;
  background-color: #AFE4F4;
}

input::-webkit-input-placeholder{ 
    color:    #37bde5;
}
input:-moz-placeholder { 
    color:    #37bde5;
}
input::-moz-placeholder { 
    color:    #37bde5;
}
input:-ms-input-placeholder { 
    color:    #37bde5;
}

.login .error {
  color: #CC3300;
  font-size: 12px;
  background: #FFCCCC;
  padding: 5px;
  width:80%;
  border: #FF99CC solid 1px;
  margin:0 auto;
}


.header{
	width:100%;
	position:fixed;
	top:0;
	left:0;
	height:4vh;
	text-align:center;
    background-color:#1fb3df;
    z-index:2;
}
.header .title{  
    margin-top:4vh;
	height:4vh;
	text-align:center;
	font-size:3vh;
    width: 100%;
    color:#37bde5;
    background-color: #ffffff;
    padding:2.5vh 0;
    vertical-align: middle;
	border-bottom: #bdbdbd 2px solid;
}

.header .title .setting{
    float:right;
	height:90px;
    width:90px;
	position:absolute;
	top:6.5vh;
	right:2vh;
	background-image:url(../img/ic_settings.png);
	background-repeat:no-repeat;
}

.header .home{
	position:absolute;
	top:6.5vh;
	left:2vh;
	background-image:url(../img/ic_back.png);
	background-repeat:no-repeat;
	width:100px;
	height:100px;
}

.header .logout{
    float:right;
	height:85px;
    width:85px;
	position:absolute;
	top:6.5vh;
	right:2vh;
	background-image:url(../img/logout.png);
	background-size:100%;
	background-repeat:no-repeat;
}

.header .edit{
    float:right;
	height:85px;
    width:85px;
	position:absolute;
	top:6.5vh;
	right:8vh;
	background-image:url(../img/edit.png);
	background-size:100%;
	background-repeat:no-repeat;
}

.header .del{
    float:right;
	height:85px;
    width:85px;
	position:absolute;
	top:6.5vh;
	right:2vh;
	background-image:url(../img/del.png);
	background-size:100%;
	background-repeat:no-repeat;
}

.header ul{
	list-style:none;
    position:relative;
/*    margin-top:-3vh;*/
    width: 100%;
    height:7.5vh;
    background-color:#1fb3df;
    line-height:7vh;
    box-shadow:0px 4px 14px 6px rgba(0,0,0,0.3);
	padding:0;
}
.header ul li{
    display:inline-block;
	box-sizing:content-box;
	color:#ffffff;
    background-color:#1fb3df;
    font-size:2.5vh;
	width:33%;
	float:left;
}

.header ul li a{
	color:#FFF;
	text-decoration:none;
}

.nothing{
	height:100%;
	display:inline-block;
    vertical-align:middle;
}

.btn_bottom {
	width:100%;
	height:8%;
	background:#1fb3df;
	position:fixed;
	bottom:0;
	left:0;
	text-align:center;
}


.btn_bottom a,
.btn_bottom span{
	color:#FFF;
	font-size:45px;
	vertical-align:middle;
	line-height:inherit;
	text-decoration:none;
}

/*-------------tutor---------*/
body::-webkit-scrollbar { display: none; }

#slide-window
  {
  position:fixed;
  width:100%;
  height:100%;
  overflow:hidden;
  top:0px;
  left:0px;
  }

#slides
  {
  height:91.7%;  
  position:absolute;
  margin:0px;
  padding:0px;
  
  -webkit-transform: translate3d(0px,0px,0px);
  transform: translate3d(0px,0px,0px);
    
  transition: all 0.66s ease; -webkit-transition: all 0.66s ease; 
  
  }

.slide 
  {
  list-style:none;
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 100%;
  background: #ccc;
  text-align: center;
  line-height: 300px; 
  background-size: cover; 
  background-position:50% 50%;
  color:#fff;
  -webkit-transform: translate3d(0px,0px,0px);
  visibility:hidden;
  -webkit-transform-style: preserve-3d;
  }

.alive { visibility:visible; }

.arrow
  { 
  position:fixed; 
  z-index:9; 
  top:94%; 
  width: 10%;
  height: 5%;
  cursor:pointer; 
  }


#left 
  { 
  left:3%; 
  font-size: 16px;
  }
#right 
  {
  right:6%; 
  font-size: 16px;
  }
#hide 
  { 
  position: absolute;
  z-index:9; 
  top: 94%;
  right: 3%;
  height: 10px;
  font-size: 16px;
  color: #37bde5;
  font-weight:bold;
  }

.slide-dot
{
  position:absolute; 
  z-index:8; 
  top:92%; 
  width: 100%;
}

.agree {
	color:#FFF;
	font-size:12px;
	width:100%;
	text-align:center;
	position:absolute;
	bottom:3%;
	z-index:0;
}