.bank{
	background:#4a4a4a;
	width:100%;
	height:100%;
	padding:5%;
	box-sizing:border-box;
}

.save{
	width:90%;
	margin:0 auto;
	top:23%;
	position:absolute;
	background:#252525;
	border-radius:10px;
	height:8%;
	color:#FFF;
	font-size:50px;
	padding:30px;
	box-sizing:border-box;
}

.save span{
	vertical-align:middle;
}

.save span.num{
	float:right;
	vertical-align:middle;
	height:100%;
}

.tasklist{
	overflow:scroll;
	width:65%;
	height:56%;
	top:33%;
	position:absolute;
	background:#252525;
	border-radius:10px;
}

.tasklist .tit{
	height:15%;
	color:#FFF;
	text-align:center;
	font-size:45px;
	vertical-align:middle;
}

.tasklist ul{
	list-style:none;
	padding:0;
	float:left;
	width:100%;
	box-sizing:border-box;
}

.tasklist ul li{
	text-decoration:none;
	width:100%;
	padding:7%;
	box-sizing:border-box;
	font-size:20pt;
	height:20%;
	border-top:#979797 1px solid;
}

.tasklist ul li img{
	height:100%;
	width:auto;
}

.tasklist ul li .money{
	color:#fba415;
	font-size:55px;
	float:right;
	vertical-align:middle;
	
}
.bar{
	width:20%;
	margin-left:70%;
	height:56%;
	top:33%;
	position:absolute;
	background:#252525;
	border-radius:10px;
	padding:15px;
	box-sizing:border-box;
}

.bar .full{
	background:#78cc33;
	width:100%;
	height:100%;
	-webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}

.bar .full .perc{
	background:#4a4a4a;
	bottom:0;
}

