.tasklist{
	height:80%;
	overflow:scroll;
	width:70%;
	top:15%;
	position:absolute;
}
.tasklist ul{
	list-style:none;
	padding:0;
	float:left;
	width:100%;
}

.tasklist ul li{
	text-decoration:none;
	width:100%;
	padding:3%;
	box-sizing:border-box;
	font-size:20pt;
	height:150px;
}

.tasklist ul li img{
	width:80px;
	height:80px;
}

.bar{
	float:left;
	border:#333 1px dashed;
	width:100px;
	height:80%;
	margin-left:75%;
}

.new_task{
	width:100%;
	height:100px;
	background:#036;
	position:fixed;
	bottom:0;
	left:0;
	color:#FFF;
	text-align:center;
}