@charset "utf-8";
/* CSS Document */
.detail{
	background-color:#f0f0f0;
	width:100%;
	height:100%;
}

.detail .info {
	margin-top:20%;
	box-sizing:border-box;
	padding:5%;
	padding-bottom:10%;
	font-size:2.5vh;
}


.info img[alt$=taskicon]{
	width:60px;
	height:auto;
}

.info .pro{
	padding:5%;
	box-sizing:border-box;
	height:20%;
	background-image:url(../img/dot.png);
	background-position:center;
	background-repeat:no-repeat;
}

.info .pro div{
	width:50%;
	float:left;
	text-align:center;
}
.info .pro .name{
	margin:0 auto;
	width: 100%;
}
.info .pro img{
	width:200px;
	height:auto;
	border-radius:100px;
	border:3px #CCCCCC dashed;
}

.info span.title{
  color:#de000000;

}
.info span.time{
  color:#8b000000;

}
.info span.money{
}

.givemoney{
	font-size:45px;
	background:none;
	border:0;
	color:#FFF;
}

.wrapper {
  display: inline-block;
}
.wrapper * {
  float: right;
}
.wrapper input {
  display: none;
}
.wrapper label {
  font-size: 90px;
  color:#CCC;
}

.wrapper input:checked ~ label {
  color:#FC0;
}