.history{
    background-color:#f0f0f0;
}

.tasklist ul{
	list-style:none;
	padding:400px 0 0 0;

}

.tasklist ul li{
	text-decoration:none;
	width:100%;
	padding:5%;
	box-sizing:border-box;
	height:220px;
    color:#000000;
    position:relative;
    z-index: 1;
}
.tasklist li img{
    vertical-align: middle;
}
.tasklist li .title{
  font-size:2.5vh;
  color:#de000000;
  background-color:#f0f0f0; 
  position:absolute;
  top:3vh; 
  margin-left:140px;

}
.tasklist li .time{
  font-size:2vh;
  top:7vh;
  margin-left:140px;
  position:absolute;
  color:#8b000000;

}
.tasklist li .money{
	font-size: 2.5vh;
    position: absolute;
    top: 5vh;
    right: 3vh;
}