.social {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: 40px;
}

.social .childrank {
  height: 50%;
  background: #AAA;
  padding-top: 355px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  padding: 25px;
}

.social .timeline {
  padding-top: 220px;
}

.social .other ul li {
  width: 50%;
  height: 25%;
  float: left;
  display: flex;
  align-items: flex-end;
  /*backgrond: #1fb3df;*/
}

.childrank {
  border-color: #78cc33;
}

.social ul {
  padding: 0;
}

.social ul li {
  list-style: none;
}

.otherdiv {
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
  opacity: 0.3;
}

.social a {
  text-decoration: none;
}

.social .timeline ul li{
  position: relative;
}

.social .timeline .whiteBar{
  position: absolute;
  padding: 25px;
  bottom: 0;
  background-color: #ffffff;
  box-sizing: border-box;
  width: 100%;
  opacity: 0.5;
}

.social .timeline .whiteBar span{
  position: absolute;
  top: 25%;
}
