.social {
  width: 100%;
/*  height: 100%;*/
  box-sizing: border-box;
  font-size: 40px;
}

.social .childrank {
  height: 40%;
  background-image:url(../Taskphoto/6208d18a.jpg);
  background-size:100% auto;
  margin-top: 355px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  padding: 25px;
  border-color: #78cc33;
}

.social .childrank img{
	border-radius:50%;
}

.social .childrank span{
	color:#000;
	font-weight:bold;
	padding:5px;
	font-size:45px;
}

.social .timeline {
  padding-top: 220px;
}

.social .other ul li {
  width: 50%;
  height: 20%;
  float: left;
  /*display: flex;
  align-items: flex-end;
  backgrond: #1fb3df;*/
}

.social .other ul li img[alt$="taskphoto"]{
	float:left;
}
.social .other .bar{
	height:30%;
	background:#FFF;
	float:left;
	width:100%;
	top:-30%;
	position:relative;
	background:rgba(255,255,255,0.6);
	padding:10px;
	box-sizing:border-box;
}

.social .other ul li img[alt$="profilepic"]{
	display:inline-block;
    vertical-align:middle;
}

.social ul {
  padding: 0;
}

.social ul li {
  list-style: none;
}

.social a {
  text-decoration: none;
}

.social .timeline ul li{
  position: relative;
}

.social .timeline .whiteBar{
  position: absolute;
  padding: 25px;
  bottom: 0;
  background:rgba(255,255,255,0.6);
  box-sizing: border-box;
  width: 100%;
  font-size:55px;

}

.social .timeline .whiteBar img{
	border-radius:50%;
}

.social .timeline .whiteBar span{
  position: absolute;
  top: 25%;
}