* {
  margin: 0px;
}

.passage h1 {
  margin-top: 4%;
  margin-bottom: 4%;
  font-size: 60px;
  text-align: center;
  color: #37bde5;
}

.passage {
  width: 100%;
}

.header {
  border-bottom: solid;
  border-color: #bdbdbd;
}

.return {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 2%;
  margin-left: 2%;
  height: inherit;
}

.submit {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 9%;
}

.submit input {
  font-size: 60px;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  text-align: center;
  background-color: #37bde5;
}

.form_row label, .form_row input:not(#role) {
  display: block;
  font-size: 60px;
  border: none;
  font-weight: bold;
  margin-top: 1.5%;
}

.news_edit:not(.submit) {
  background-color: #f2f2f2;
  width: 92%;
  margin-left: 0px;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 1%;
  padding-bottom: 15%;
}

.form_row input:not(#role) {
  width: 100%;
  outline: none;
  padding: 30px;
}

input[type=radio] {
  margin-top: 1.5%;
  border: 0px;
  width: 1em;
  height: 1em;
  font-size: 60px;
}

.error {
  font-size: 60px;
  color: red;
}
