body {
  width: 100vw;
}

.passage h1 {
  font-size: 60px;
  text-align: center;
  width: 100vw;
}

.passage {
  width: 100vw;
}

.form_row label, .form_row input:not(#role) {
  display: block;
  font-size: 60px;
  border: none;
}

input[type='radio'] {
  transform: scale(3);
}

.news_edit {
  background-color: #f2f2f2;
  width: 100vw;
  margin-left: 0px;
  padding: 15px;
}

.form_row input:not(#role) {
  width: 98%;
  outline: none;
}
